<div id="modalLugar" class="modal-overlay">
    <div class="modal-content">

        <div class="modal-header">
            <button id="btnCerrarModal" class="btn-back" type="button">
                <i class="fa-solid fa-arrow-left-long"></i>
            </button>

            <h2>Agregar nuevo lugar</h2>

            <button class="btn-menu-tres-puntos" type="button">
                <i class="fa-solid fa-ellipsis-vertical"></i>
            </button>
        </div>

        <div class="modal-body">

            <form id="formNuevoLugar" class="form-izquierda">
                <div class="input-group">
                    <label>Nombre del lugar</label>
                    <input type="text" id="modal-nombre" placeholder="Ej. Mercado Adolfo López"/>
                </div>

                <div class="input-group">
                    <label>Categoría</label>
                    <div class="select-wrapper">
                        <select id="modal-categoria">
                            <option value="" disabled selected>Selecciona una categoría</option>
                            <option value="mercado">Mercado</option>
                            <option value="restaurante">Hospital</option>
                            <option value="restaurante">Restaurante</option>
                            <option value="tienda">Tienda</option>
                            <option value="parque">Parque</option>
                            <option value="parque">Otro</option>
                        </select>
                    </div>
                </div>

                <div class="input-group">
                    <label>Referencia</label>
                    <input type="text" id="modal-referencia" placeholder="Ej. Junto al zócalo"/>
                </div>

                <div class="input-group">
                    <label>Dirección</label>
                    <input type="text" id="modal-direccion" placeholder="Ej. Cuernavaca, Morelos"/>
                </div>

                <div class="input-group">
                    <label>Notas</label>
                    <textarea id="modal-notas" rows="3" placeholder="Ej. Buenos precios y variedad."></textarea>
                </div>

                <div class="form-actions">
                    <button type="submit" class="btn-guardar">
                        <i class="fa-solid fa-check"></i> Guardar lugar
                    </button>

                    <button type="button" id="btnCancelar" class="btn-cancelar">
                        Cancelar
                    </button>
                </div>
            </form>

            <div class="mapa-derecha">
                <div id="map-modal" class="mapa-box"></div>
                <div class="selector-marcadores">
                    <h3>Elegir color y marcador</h3>
                    <div class="iconos-grid">
                        <button type="button" class="icon-btn rojo" title="Restaurante">
                            <i class="fa-solid fa-utensils"></i>
                        </button>

                        <button type="button" class="icon-btn naranja activo" title="Mercado">
                            <i class="fa-solid fa-cart-shopping"></i>
                        </button>

                        <button type="button" class="icon-btn amarillo" title="Favorito">
                            <i class="fa-solid fa-star"></i>
                        </button>

                        <button type="button" class="icon-btn verde" title="Parque">
                            <i class="fa-solid fa-tree"></i>
                        </button>

                        <button type="button" class="icon-btn cian" title="Tienda">
                            <i class="fa-solid fa-bag-shopping"></i>
                        </button>

                        <button type="button" class="icon-btn azul" title="Servicios">
                            <i class="fa-solid fa-shop"></i>
                        </button>

                        <button type="button" class="icon-btn morado" title="Otros">
                            <i class="fa-solid fa-map-pin"></i>
                        </button>
                    </div>
                </div>

                <div class="favoritos-toggle">
                    <span><i class="fa-solid fa-star"></i> Agregar a favoritos</span>
                    <label class="switch">
                        <input type="checkbox" id="modal-favorito" />
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
